body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png");
    font-family: 'Poppins', sans-serif;
}

.container {
    font-size: 2em;
}

.title {
    font-weight: 700;
}

.paragraph {
    font-size: 2em;
    border: 20px dashed red;
    margin: 20px;
    width: 90%;
    height: 150px;
    background-image: url("../images/oriental-tiles.png");
    color: #FFF;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

.welcome {
    background: red;
    padding: 20px;
}

.welcome__subtitle {
    color: #FFF;
}

.welcome__paragraph {
    color: yellow;
    font-size: 20px;
}

#date {
    background: blue;
    color: #FFF;
}

.product {
    background: blue;
}

.product--best-seller {
    background: yellow;
}