* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Utilities classes */
.mb-10 {
    margin-bottom: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1230px;
    margin: 0 auto;
}

header {
    background: #f6efe8;
    padding: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 10px;
}

.menu__dropdown{
    background-color: #FFF;
    list-style: none;
    position: relative;
    display: none;
    padding: 20px 15px;
}

.menu__list {
    position: relative;
}

.menu__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu__container--mobile {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    flex-direction: column;
    padding: 35px;
}

.menu__container--mobile .menu {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
}

.menu__container--mobile .menu__item {
    margin-bottom: 15px;
}

.menu__list::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('../images/slack.svg');
    position: absolute;

}

.menu__action {
        display: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
}

.menu__action img {
    width: 30px;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    cursor: pointer;
}


.menu__list:hover .menu__dropdown {
    display: block;
    position: absolute;
}

.menu__item {
    margin: 0 20px;
}

.menu__item a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: .9em;
}

.logo {
    width: 100px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


section article {
    margin-top: 35px;
}

.main {
    width: 35%;
}

.main__title {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.decoration {
    width: 55%;
}

.decoration img {
    width: 100%;
}


.brand {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.brand__item img {
    width: 120px;
    margin: 0 10px;
}

.btn__group {
    margin-top: 20px;
}

.btn {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.btn--outline {
    border: solid 1px #611f69;
    color: #611f69 !important;
}
.btn--violet {
    background-color: #611f69;
    color: #FFF !important;
}
.btn--blue {
    background-color: #4285f4;
    color: #FFF !important; 
}

.btn--large {
    padding: 20px;
}
