* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

$black: #333333;
$blue: #3483fa;

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filters {
    margin: 20px 0;
    background-color: #9191916d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    display: block;
    width: 32%;
    margin: 0 5px 20px 5px;
    min-height: 400px;
    text-decoration: none;
    border: solid 1px $black;
    border-radius: 10px;

    &--cart {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        min-height: 180px;
        height: 180px;
    }

    &__thumbnail {
        width: 250px;
        height: 100%;
        object-fit: contain;
        margin-right: 20px;
    }

    &__image {
        width: 100%;
        height: 250px;
        object-fit: contain;
        border-bottom: solid 1px $black;
    }

    &__description {
        padding: 15px;
    }

    &__tag {
        color: #FFF;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: .9em;

        &--best-seller {
            background-color: #FF7733;
        }

        &--recommended {
            background-color: $black;
        }
    }

    &__price {
        color: $black;
        font-size: 1.5em;
        margin: 15px 0;
    }

    &__name {
        color: $black;
        font-size: 1.1em;
    }

    &__cart {
        background-color: $blue;
        color: #FFF;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        &:disabled{
            background-color: gray;
        }

        &--thumb {
            margin-left: 40px; 
        }
    }

}

.product__item {
    width: 80%;
    margin: 0 auto;
    display: none;

    &.loaded {
        display: flex;
    }

    .product__image{
        width: 50%;
        border: none;
        height: 500px;
    }

    .product__description {
        width: 50%;
    }

    .product__name {
        font-size: 3em;
    }

    .product__mainImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .product__colors {
        display: block;
    }

    #gallery {
        div {
            width: 200px;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                cursor: pointer;
            }
        }
    }
}

.auth {
    width: 80%;
    margin: 0 auto;
    background-color: #b0b0b0;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 30px;

    &.hidden{
        display: none;
    }

    input {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        border: none;
        padding: 15px;

        &[type=submit]{
            background-color: $blue;
            color: #FFF;
        }
    }
    
}

#logout {
    display: none;

    &.visible {
        display: block;
    }
    
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    margin-left: 50%;

    &.loaded {
        display: none;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#createProduct {
    width: 80%;
    margin: 0 auto;

    input, textarea {
        width: 100%;
        border: none;
        padding: 10px;
        background-color: rgb(235, 235, 235);
        border-radius: 5px;
        margin-bottom: 10px;
    }
}